.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: lightgray;
    
}

.navbar a{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 55px;
    text-decoration: none;
}


.searchArea{
    margin-left: 25px;
}

.searchArea button{
    background-color: darkolivegreen;
    border-radius: 30px;
    color: aliceblue;
}

.searchArea input{
    border-radius: 30px;
}


header{
    text-align: center;
    font-size: 55px;
    color: lightgray;
    background-color: brown;
    border-radius: 55px;
}



img{
    width: 240px;
    height: 160px;
    border-radius: 1000px;
    margin: 25px;
}

.Menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.MenuItem{
    margin: 3%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;

    border-radius: 30px 10px 30px 10px;
}

.Chefs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.Chef{
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    border:2px solid black;
    border-radius: 25px;
    padding: 1%;
    

}

/*background-image: url("./images/Chef.PNG");*/
.ImageArea{
    width: 216px;
    height: 233px;
    border-radius: 1000px;
    background-image: url("./images/Chef.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px;
}




.Alberto:hover{
    transform: rotate(3600deg);
    background-image: url("./images/Alberto.PNG");
    transition-property: background-image font-size text-decoration border-radius width height transform color transition-delay;
    transition-duration: 2s;
}

.Nurettin:hover{
    transform: rotate(3600deg);
    background-image: url("./images/Nurettin.PNG");
    transition-property: background-image font-size text-decoration border-radius width height transform color transition-delay;
    transition-duration: 2s;
}

.Sildi:hover{
    transform: rotate(3600deg);
    background-image: url("./images/Sildi.PNG");
    transition-property: background-image font-size text-decoration border-radius width height transform color transition-delay;
    transition-duration: 2s;
}

.Arshya:hover{
    transform: rotate(3600deg);
    background-image: url("./images/Arshya.PNG");
    transition-property: background-image font-size text-decoration border-radius width height transform color transition-delay;
    transition-duration: 2s;
}

.Sergio:hover{
    transform: rotate(3600deg);
    background-image: url("./images/Sergio.PNG");
    transition-property: background-image font-size text-decoration border-radius width height transform color transition-delay;
    transition-duration: 2s;
}


.Title{
    text-align: center;
    font-size: 45px;
    color: red;
}

.Contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
   

}

.inputsArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    background-color: aquamarine;
    padding: 2%;
    border-radius: 25px;
}

.halfScreen{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 44%;
}


.halfScreen input{
    width: 80%;
}

.textAlignLeft{
    
    float: left;
        
}


.fullScreen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.fullScreen input {
    width: 80%;
}

.fullScreen select {
    width: 80%;

}

.fullScreen textarea {
    width: 80%;
    height: 100px;
}
.content-nuri {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    padding: 5%;
    border: 2px solid salmon;
}
.content-nuri img {
    width: 400px;
    height: 400px;
}
.content-nuri p {
    font-size: 30px;
}



/*
.Test{

    margin: 20px;
    padding: 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 18px;

}


.Test:hover{
    background-color: blueviolet;
    font-size: 36px;
    text-decoration: underline;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transform: rotate(270deg);
    
    transition-property: background-color font-size text-decoration border-radius width height transform color transition-delay;
    transition-duration: 5s;
    transition-delay: 2s;
}




<div class="Test">
      <p>HEYYi</p>
    </div>


*/




/*

.Test:hover{
    transform: rotate(270deg);
    background-color: blue;
    color: yellow;
    font-size: 12px;
    transition-property: background-color font-size transform color;
    transition-duration: 0.5s;
}
*/